.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.myButton0 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 6px;
  padding: 20px;
  border-radius: 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  display: inline-block;
  background-image: radial-gradient(at center center, rgb(28, 110, 164) 0%, rgb(20, 78, 117) 100%);
  border: 2px solid rgb(28, 110, 164);
}
.myButton0:hover {
  background: rgb(28, 110, 164);
}
.myButton0:active {
  background: rgb(20, 78, 117) 100%;
}
.myButton1 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 6px;
  padding: 20px;
  border-radius: 50px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  display: inline-block;
  background-image: radial-gradient(at center center, rgb(28, 164, 28) 0%, rgb(20, 117, 20) 100%);
  border: 2px solid rgb(28, 164, 28);
}
.myButton1:hover {
  background: rgb(28, 164, 28);
}
.myButton1:active {
  background: rgb(20, 117, 20);
}
.myButtonX {
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 6px;
  padding: 20px;
  border-radius: 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  display: inline-block;
  background-image: radial-gradient(at center center, rgb(164, 28, 28) 0%, rgb(117, 20, 20) 100%);
  border: 2px solid rgb(164, 28, 28);
}
.myButtonX:hover {
  background: rgb(164, 28, 28);
}
.myButtonX:active {
  background: rgb(117, 20, 20);
}
.myButtonY {
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 6px;
  padding: 20px;
  border-radius: 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  display: inline-block;
  background-image: radial-gradient(at center center, rgb(255, 200, 20) 0%, rgb(180, 100, 20) 100%);
  border: 2px solid rgb(28, 110, 164);
}
.myButtonY:hover {
  background: rgb(255, 200, 20);
}
.myButtonY:active {
  background: rgb(180, 100, 20);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
