.App {
  text-align: center;
  background-color: #282c34;
  border-color: #282c34;
}

.App-header {
  background-color: rgb(30, 33, 42);
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}
.App-footer {
  background-color: rgb(30, 33, 42);
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.App-game {
  min-height: 100%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-controls {
  min-height: 100%;
  min-width: 30%;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}
.columnsWrapper {
  display: flex;
  height: 100%;
}
.App-link {
  color: #61dafb;
}
.myButtonMenu {
  color: rgb(255, 255, 255);
  min-width: 25vw;
  font-size: 12px;
  line-height: 6px;
  padding: 20px;
  border-radius: 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  display: inline-block;
  background-image: radial-gradient(at center center, rgb(25, 25, 25) 0%, rgb(55, 55, 55) 100%);
  border: 2px solid rgb(0, 0, 0);
}
.myButtonMenu:hover {
  background: rgb(45, 45, 45);
  border: 2px solid rgb(222, 222, 222);
}
.myButtonMenu:active {
  background: rgb(33, 33, 33) 100%;
}
.myButton0 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 6px;
  padding: 20px;
  border-radius: 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  display: inline-block;
  background-image: radial-gradient(at center center, rgb(28, 110, 164) 0%, rgb(20, 78, 117) 100%);
  border: 2px solid rgb(28, 110, 164);
}
.myButton0:hover {
  background: rgb(28, 110, 164);
}
.myButton0:active {
  background: rgb(20, 78, 117) 100%;
}
.myButton1 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 6px;
  padding: 19px;
  border-radius: 50px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  display: inline-block;
  background-image: radial-gradient(at center center, rgb(28, 164, 28) 0%, rgb(20, 117, 20) 100%);
  border: 2px solid rgb(28, 164, 28);
}
.myButton1:hover {
  background: rgb(28, 164, 28);
}
.myButton1:active {
  background: rgb(20, 117, 20);
}
.myButtonX {
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 6px;
  padding: 20px;
  border-radius: 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  display: inline-block;
  background-image: radial-gradient(at center center, rgb(164, 28, 28) 0%, rgb(117, 20, 20) 100%);
  border: 2px solid rgb(164, 28, 28);
}
.myButtonX:hover {
  background: rgb(164, 28, 28);
}
.myButtonX:active {
  background: rgb(117, 20, 20);
}
.myButtonY {
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 6px;
  padding: 20px;
  border-radius: 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  display: inline-block;
  background-image: radial-gradient(at center center, rgb(255, 200, 20) 0%, rgb(180, 100, 20) 100%);
  border: 2px solid rgb(28, 110, 164);
}
.myButtonY:hover {
  background: rgb(255, 200, 20);
}
.myButtonY:active {
  background: rgb(180, 100, 20);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
